<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <!-- 类名 ，随便，一般是Servlet类名-->
        <servlet-name>HelloForm</servlet-name>
        <!-- 所在的包 ,Servlet的位置-->
        <servlet-class>HelloForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <!-- 跟上面名字相同 -->
        <servlet-name>HelloForm</servlet-name>
        <!-- 访问的网址 ，浏览器通过该url找到Servlet，一定要加-->
        <url-pattern>/HelloForm</url-pattern>
    </servlet-mapping>
</web-app>